		</div>
		<script src="assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="assets/js/semantic.min.js" type="text/javascript"></script>
		<script src="assets/js/golden-book.js" type="text/javascript"></script>
	</body>
</html>